 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Adaptable designs ranging from highly customized to functionally minimalist using HTML, CSS, and Bootstrap.  
        </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <p>JavaScript front-end and Ruby on Rails back-end. Object Oriented Programming and care when it comes to security and authentication.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>Well versed in Git/Github, Full stack projects hosted in Heroku, able to use any text editor but I prefer VIM :)
        </p>
    </div>
</div>
