<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/stickido.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Stickido </h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>Heroku</li>
      <li>Bootstrap</li>
    </ul>
    <p>Productivity web app with a section for notes and a section for to do lists.</p>
    <a class="project-link" href="https://stickido.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dnd-toolkit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DM Toolkit </h3>
    <ul>
      <li> Howler.js</li>
      <li> Ruby on Rails</li>
      <li> Heroku</li>
    </ul>
    <p>A toolkit for D&D Dungeon Masters, including dice roller, sound board, and initiative tracker.</p>
    <a class="project-link" href="https://dnd-toolkit.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pokedex.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pokedex </h3>
    <ul>
      <li>jQuery</li>
      <li>Pokemon API</li>
    </ul>
    <p>Pokemon trainer showcase website that displays information focused around 3 pokemon using AJAX to retrieve said data.</p>
    <a class="project-link" href="https://andrewtabudlo.github.io/pokedex">Check it out</a>
  </div>
</div>
